#canvas_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/bg.png");
    background-size:contain;
}

video {
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
}